body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    background-size: 100px;
    background-image: url(https://cdn.discordapp.com/attachments/1129747764675346525/1139561527180005498/6_20230811191029.png);
}

header {
    text-align: center;
    margin: 0px;
    padding: 5px;
}

.back
{
    opacity: 0.15;
    position: absolute;
    text-align: center;
    top: 15px;
    left: 0px;
    right: 0px;
}

nav {
    text-align: center;
    margin-top: 10px;
    font-size: x-large;
    padding: 30px;
}

.link-nav {
    text-decoration: none;
    padding: 25px;
    margin: 20px;
    color: rgb(175, 175, 175);
    transition: 1s;
    border: white 1px solid;
}

.selected{
    text-decoration: none;
    padding: 25px;
    margin: 20px;
    color: rgb(175, 175, 175);
    transition: 1s;
    border-left: white 1px solid;
    border-right: white 1px solid;
    border-top: white 1px solid;
}

.link-nav:hover {
    text-decoration: none;
    color: white;
    transition: 1s;
    padding-top: 35px;
}

h1 {
    text-align: center;
    color: white;
    transition: 1s;
    margin-top: 40px;
    margin-bottom: 30px;
}
h2 {
    text-align: center;
    color: white;
    transition: 1s;
    margin-top: 40px;
    margin-bottom: 30px;
}

section 
{
    display: flex;
}

#Experience li
{
    margin-bottom: 15px;
}

#Experience
{
    display: block;
    width: 350px;
    background-color: #1D1D1D;
    margin-left: auto;
    margin-right: 5px;
    color: #009900;
    transition: 1s;
    border: 1px solid #009900;
}
#Experience:hover
{
    color: #66FF33;
    transition: 1s;
    border: 1px solid #66FF33;
}
#Experience h3
{
    text-align: center;
}

#Skills
{
    display: block;
    transition: 1s;
    width: 350px;
    background-color: #1D1D1D;
    margin-right: auto;
    margin-left: 5px;
    color: #0066FF;
    border: 1px solid #0066FF;
}
#Skills:hover
{
    color: #66CCFF;
    transition: 1s;
    border: 1px solid #66CCFF;
}
#Skills h3
{
    text-align: center;
}

ol 
{
    font-size: 18px;
    pointer-events: none;
}

li 
{
    list-style-type: circle;
    margin-top: 5px;
    pointer-events: none;
}
